<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-scout.ico">
    <title>Inscription</title>
</head>
<body>
    <header></header>

    <section >
        <div class="container">
            <div id="formulaire">
                <form action="/register" method="post">
                    <div class="logo">
                        <img  id="logo-scout" src="/img/logo-scout.png" alt="logo-scout">
                    </div>
                    
                    <div>
                        <label for="Anarana">Anarana</label>
                        <input type="text" name="anarana" id="anarana">
                    </div>
                    <div>
                        <label for="Fanampiny">Fanampiny</label>
                        <input type="text" name="fanampiny" id="fanampiny">
                    </div>
                    <div>
                        <label for="Fokonolona">Fokonolona</label>
                        <input type="text" name="fokonolona" id="fokonolona">
                    </div>
                    <div>
                        <label for="Fivondronana">Fivondronana</label>
                        <input type="text" name="fivondronana" id="fivondronana">
                    </div>
                    <div>
                        <label for="Ambaratonga">Ambaratonga</label>
                        <select name="ambaratonga" id="ambaratonga">
                            <option value="Mpiomana">Mpiomana</option>
                            <option value="Mpitarika">Mpitarika</option>
                            <option value="Mpihary">Mpihary</option>
                            <option value="Zokiolona">Zokiolona</option>
                            <option value="Filoha">Filoha</option>
                        </select>
                    </div>
                    <div>
                        <label for="Contact">Contact</label>
                        <input type="number" name="contact" id="contact">
                    </div>
                    <div class="btn-div">
                        <input id="submit" type="submit" value="Hisoratra">
                    </div>
                </form>
            </div>
    
            <div id="informations">
                <img class="logo" src="img/fihofanana.png" alt="loholona" style="filter: invert(100%);">
    
                <h2>FITAOVANA</h2>
                <div>
                    <% infos[0].fitaovana.forEach(text => { %>
                        <p><%= text %></p>
                    <% }) %>
                </div>
                
                <h2>FOTOANA</h2>
                <div>
                    <% infos[0].fotoana.forEach(time => { %>
                        <p><%= time %></p>
                    <% }) %>
                </div>
    
                <h2>TOERANA</h2>
                <div>
                    <% infos[0].toerana.forEach(place => { %>
                        <p><%= place %></p>
                    <% }) %>
                </div>
    
                <h2>SARANDASY</h2>
                <div>
                    <% infos[0].sarandasy.forEach(price => { %>
                        <p><%= price %></p>
                    <% }) %>
                </div>
                
            </div>
    
        </div>
    </section>
    

    <footer>
        <div class="container">
            <div>
                <img src="img/tily-analamanga.png" alt="tily-analamanga">
            </div>
            <div>                
                <img src="img/banier.png" alt="banier">
            </div>
            <div>
                <p>Faritany Tily Analamanga Andrefana</p>
                <p>Contact: +261 38 65 956 06</p>
                <p>Mail: tilyandrefana@gmail.com</p>
            </div>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="script.js"></script>
    <script>
        window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        if (message === 'inscription_reussie') {
            alert('Inscription réussie !');
        }
    }

        $(document).ready(function() {
            const submitButton = $('#submit').prop('disabled', true); // Utilisation de jQuery pour désactiver le bouton
            const fields = [
                $("#anarana").get(0),
                $("#fanampiny").get(0),
                $("#fokonolona").get(0),
                $("#fivondronana").get(0),
                $("#ambaratonga").get(0),
                $("#contact").get(0)
            ];

            // Fonction pour vérifier l'état des champs
            function checkFields(e) {
                // Vérifie si tous les champs sont remplis
                const allFilled = fields.every(field => {
                    if (field.tagName === "SELECT") {
                        return field.value !== ""; // Vérifie que le select n'est pas vide
                    }
                    return field.value.trim() !== ""; // Vérifie que le champ texte n'est pas vide
                });

                console.log(allFilled);

                // Active ou désactive le bouton submit en fonction de l'état des champs
                submitButton.prop('disabled', !allFilled);
            }

            // Ajoute des écouteurs d'événements pour chaque champ
            fields.forEach(input => {
                $(input).on("input change", checkFields); // Utilisation de jQuery pour ajouter l'écouteur d'événements
            });
        });

    </script>
</body>
</html>